*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(71, 71, 71);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#container{
    display: flex;
    flex-direction: row;

    width:800px;
    height: 500px;

    border-radius: 5px;
    border: 1px solid rgb(212, 212, 212);
}
#panel{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 auto;
    
    width: 35%;
    padding: 1rem;
    
    text-align: center;
    background-color: rgb(236, 236, 236);
    border-right: 1px solid rgb(212, 212, 212);
}
#panel > div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
h1{
    margin-bottom: 1rem;
}
button{
    padding: 0.5rem;
    border: none;
    font-size: 14px;

    background-color: white;
    outline: rgb(212, 212, 212) solid 1px;
}
input[type="color"]{
    width: auto;
    height: 2rem;
    padding: 0;
}

#screen{
    display: inline-grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    width: 65%;
    height: 100%;

}
#last-colors-display{
    padding: 5px;
    height: 3rem;

    display: flex;
    justify-content: space-between;
    gap: 5px;
    
    outline: rgb(212, 212, 212) solid 1px;
    background-color: white;
}
.pixel{
    outline: rgb(212, 212, 212) solid 1px;
    background-color: white;
}
.black{
    background-color: rgb(0, 0, 0);
}
.last-color{
    width: 18%;
}